@use "_vars.scss";
@use "_responsive.scss";

.list {
  h1.title {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
