@use "_vars.scss";
@use "_responsive.scss";

article.blogpost {
  max-width: vars.$blogpost-width;
  margin-left: auto;
  margin-right: auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

.post-content {
  margin-top: 2.8rem;

  img {
    width: 88%;
    margin: 1.8rem 6%;
    box-shadow: 0 10px 15px -4px rgb(0 0 0 / 0.3);
  }

  .highlight {
    font-size: 0.82em;
    line-height: 1.5;
  }

  @include responsive.max-md() {
    .post-content {
      margin-top: 1.6rem;
    }
    .highlight {
      font-size: 0.75em;
    }
  }
}

.blogpost header h1.title {
  font-size: 2.05rem;
  margin-bottom: 0.2rem;
}

.blogpost header h2.date {
  font-size: 0.95rem;
  color: vars.$color-muted;
  margin-top: 0.1rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
}

.endofpost {
  max-width: 280px;
  margin: 3em auto 3.4em;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid vars.$color-border;
  padding: 0;
}

a[href^="#fn:"]:before {
  content: "[";
}
a[href^="#fn:"]:after {
  content: "]";
}

.footnotes hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #888;
}
