<script>
  function toggleMenu() {
    const x = document.getElementById("topnav-items");
    x.classList.toggle("navopen");
  }
</script>

<section class="container">
  <nav class="topnav">
    <a class="topnav-title" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    {{ with .Site.Menus.main }}
      <a href="javascript:void(0);" class="mobilemenu" onclick="toggleMenu()">Menu</a>
      <ul id="topnav-items" class="topnav-list">
        {{ range sort . }}
          <li><a class="topnav-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</section>
